<%= sanitize page_title_with_button('Mensalidades', false) %>
<p id="notice"><%= notice %></p>

<section class="content">
  <% if TuitionFee.any? %>
    <%= generate_index_table({table_name: "Mensalidade Vigente (Desde #{date_format(@starting_date_for_current_fees)})", model: TuitionFee, objects: @current_tuition_fee, translated_names: ['Aulas semanais', 'Valor', 'Vigência'], new_label: 'Nova Mensalidade', crud_paths: true, translate_data: {'weekly_classes' => {'0' => 'Plano Livre'}} }).html_safe %>
  <% end %>
  <br><br>
  <%= generate_index_table({table_name: "Mensalidades Anteriores", model: TuitionFee, objects: @tuition_fees, translated_names: ['Aulas semanais', 'Valor', 'Vigência'], new_label: 'Nova Mensalidade', crud_paths: true, translate_data: {'weekly_classes' => {'0' => 'Plano Livre'}} }).html_safe %>
</section>

