
<p id="notice"><%= notice %></p>
<%= sanitize page_title_with_button('Painel', true) %>
<%= render '/people/people_data' %>

<section class="content">
  <%# render 'students' %>
  <%# render 'instructors' %>
  <%# render 'inactive' %>
</section>