<div style="height: 30vh">
</div>
<div class="text-center">
  <h1 class="text-white">Saudações do Pa-kua Fátima!</h1>
  <h3 class="text-white">Seu cadastro já tinha sido concluído!</h3>
  <h3 class="text-white">Obrigado pela visita!</h3>
</div>
<div class="text-center">
  <%= image_tag("tigre_espantado.png") %>
</div>

<style>
    form, img {
      margin-top: 5px !important;
    }

    .form-group {
      margin-bottom: 15px !important;
    }

    label.mb0 {
      margin-bottom: 5px !important;
    }

    html, body {
      background-color: black;
    }

    input.btn.btn-primary {
      background-color: #fdcf09 !important;
      color: #8f5825 !important;
      font-weight: bold;
      border-color: #8f5825 !important;
    }

    label, .card-title {
      color: #8f5825 !important;
    }

    .card.card-primary {
      border: #8f5825 solid 2px !important;
      background-color: #ffe884 !important;
    }
  </style>