<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Inativos
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% if @inactive.blank? %>
                  <tr>
                    <td>
                      Ninguém nesta categoria
                    </td>
                  </tr>
                <% else %>
                  <% @inactive.each do |person| %>
                    <tr>
                      <td><%= person.name %></td>
                      <td><%= link_to 'Ver', person, class: "btn btn-info" %></td>
                      <td><%= link_to 'Editar', edit_person_path(person), class: "btn btn-warning"  %></td>
                      <td><%= link_to 'Excluir', person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
                    </tr>
                  <% end %>
                <% end%>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<br>