<div class="row">
  <%= generate_value_card('Membros', 'fa fa-users ', @people.count, nil, 'primary').html_safe %>
  <%= generate_value_card('Alunos', 'fa fa-user ', @students.count, nil, 'success').html_safe %>
  <%= generate_value_card('Instrutores', 'fa fa-user-graduate ', @instructors.count, nil, 'info').html_safe %>
</div>