<%= sanitize page_title_with_button('Aluguéis', false) %>
<p id="notice"><%= notice %></p>

<section class="content">
  <%= generate_index_table({table_name: "Aluguel de Equipamento Vigente", model: Rent, objects: [@current_rental_fee], translated_names: ['Valor', 'Vigência'], crud_paths: true, new_label: 'Novo Aluguel' }).html_safe %>
  <br><br>
  <%= generate_index_table({table_name: "Aluguéis Anteriores", model: Rent, objects: @rents, translated_names: ['Valor', 'Vigência'], crud_paths: true, new_label: 'Novo Aluguel' }).html_safe %>
</section>