<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Aluguel Atual <%= "(Desde #{date_format(@current_rental_fee.starts_at)})" if !@current_rental_fee.blank?  %></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-sm">
              <thead>
                <tr>
                  <td><b>Valor:<b></td>
                  <td><%= @current_rental_fee.blank? ? 'Não definido' : to_money(@current_rental_fee.rental_amount)  %></td>
                </tr>
              </thead>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
