<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Valores das Aulas <%= "(Desde #{date_format(@starting_date_for_current_fees)})" if !@starting_date_for_current_fees.nil?  %></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Aulas Semanais</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <% if @current_tuition_fee.blank? %>
                  <tr>
                    <td colspan="2">
                      Nenhum plano registrado
                    <td>
                  </tr>
                <% else %>
                  <% @current_tuition_fee.each do |tuition_fee| %>
                    <tr>
                      <td><%= weekly_classes(tuition_fee.weekly_classes) %></td>
                      <td><%= to_money(tuition_fee.fee) %></td>
                    </tr>
                  <% end %>
                <% end%>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
