<%= sanitize page_title_with_button('Pagamentos', false) %>
<p id="notice"><%= notice %></p>

<section class="content">
  <%= generate_index_table({table_name: "Pagamentos Atuais", model: Payment, objects: @payments, new_label: 'Novo Pagamento', crud_paths: true}).html_safe %>
  <br><br>
  <%= generate_index_table({table_name: "Pagamentos Anteriores", model: Payment, objects: @payments, new_label: 'Novo Pagamento', crud_paths: true}).html_safe %>
</section>