<%= sanitize page_title_with_button('Descontos', false) %>
<p id="notice"><%= notice %></p>

<section class="content">
  <%= generate_index_table({table_name: "Descontos Vigentes", model: Discount, objects: @current_discounts, hide_attributes: ['starts_at'], translated_names: ['Desconto', 'Plano'], prefix_and_suffix: {'discount_percentage' => {pref: '', suff: '%'}}, new_label: 'Novo Desconto', crud_paths: true}).html_safe %>
  <br><br>
  <%= generate_index_table({table_name: "Descontos Anteriores", model: Discount, objects: @discounts, hide_attributes: ['starts_at'], translated_names: ['Desconto', 'Plano'], prefix_and_suffix: {'discount_percentage' => {pref: '', suff: '%'}}, new_label: 'Novo Desconto', crud_paths: true}).html_safe %>
</section>
