
<section class="content">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Horário das Turmas</h6>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center"></th>
            <% @days_of_week.each do |day_of_week| %>
              <th class="text-center"><%= day_of_week_name(day_of_week) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @class_schedule.each do |duration, week| %>
            <tr>
              <td class="text-center"><%= duration %></td>
                <% week.each do |day_of_week, class_info| %>
                  <td class="text-center">
                    <% i = class_info.count %>
                    <% class_info.each do |pkc| %>
                      <%= modality_name(pkc[:modality]) %>
                      <% if pkc[:instructor].present? %>
                        <%= "- #{pkc[:instructor]}" %>
                      <% end %>
                      <% if (i-=1) > 0 %>
                        <br>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<style>
  th, td {
    border: 1px solid #999;
    border-collapse: collapse;
  }
</style>