<%= sanitize page_title_with_button('Membros', false) %>
  <% if @class_schedule.blank? %>
    Nenhuma turma definida
    <br><br><br>
  <% else%>
    <%= render 'class_schedule' %>
  <% end %>
<br>

<section class="content">
  <%= generate_index_table({table_name: 'Horários', show_attributes: %w[modality	day_of_week	hour	minutes	duration], translated_names: ['Modalidade',	'Dia da Semana',	'hour',	'minutes',	'duration'],model: PakuaClass, objects: PakuaClass.where(active: true), new_label: 'Novo Horário', crud_paths: true}).html_safe %>
</section>